.card-list {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 2rem;
  padding: 2rem;

  &__card {
    border: 1px solid #000;
    border-radius: .5rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
  }
}

.details {
  &__row {
    margin-bottom: 1rem;
  }

  &__label {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  &__value {
    font-size: 1.6rem;
  }
}
