@import '../styles/utilities';

.search {
  display: flex;
  padding: 3rem 2rem 2rem;
  justify-content: center;

  &__input {
    height: 5rem;
    width: 100%;
    border-radius: 1rem;
    border: none;
    padding: 0 1.8rem;
    font-size: 1.8rem;
    font-family: Nunito, sans-serif;

    @include mq('gt-xs') {
      max-width: 35rem;
    }

    &:focus {
      outline: none;
    }
  }
}

.btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 2rem;

  button {
    margin: 0 .3rem;
  }

  .checkbox-label {
    margin-left: .5rem;
  }

  &__section {
    padding: .2rem 1rem;
    display: flex;
    align-items: center;
  }
}

.card-list {
  $card-bg-color: #f5ecbd;
  $card-title-bg-color: #e8c00d;

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2rem;
  padding: 2rem;
  max-width: 120rem;
  margin: 0 auto;

  @include mq('sm') {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mq('md') {
    grid-template-columns: repeat(3, 1fr);
  }

  @include mq('gt-md') {
    grid-template-columns: repeat(4, 1fr);
  }

  &__card {
    border: 1rem solid #fff;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 .3rem .3rem 0 rgba(0,0,0,.3);
    background-color: $card-bg-color;
    // background-image: url('../assets/acorn.png');
    background-position: 50% 50%;
    background-repeat: repeat;
  }

  &__card-title {
    background-color: #e8c00d;
    padding: 1rem 2.4rem .3rem;
    font-family: 'FinkHeavy', Georgia, serif;
    font-size: 2.5rem;
    line-height: 1.2;
    margin-top: 1.2rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @include saw-tooth-horizontal(1.4rem, $card-bg-color);
  }
}

.details {
  padding: 2.5rem 1.5rem 0;

  &__row {
    margin-bottom: 1.4rem;
  }

  &__label {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 0.3rem;
  }

  &__value {
    font-size: 1.6rem;
  }
}
